<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="{{ url_for('static', filename='css/Accueil.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/Diaporama.css') }}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/Accueil.js') }}"> </script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Diaporama.js') }}"> </script>
    <title> Accueil </title>
  </head>

  <body onload="init()">

    <div id="header">
        <div id="devise">
          <p>Loisir</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;Convivial</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Divertissement</p>
        </div>

        <div id="logoSite">
          <img id="banniere" src="{{ url_for('static', filename='images/banniereSports.png') }}" alt="banniere" />
        </div>

        <div id="logoPrestataire">
          <a href="{{ url_for('routeur.accueil') }}"><img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" /></a>
        </div>
    </div>

    <div id="navigation">
      <a class="menu" href="{{ url_for('routeur.accueil') }}" style="text-decoration:none;color:black;">
        <p>Accueil</p>
      </a>
      <a class="menu" href="{{ url_for('routeur.recherche') }}" style="text-decoration:none;color:black;">
        <p>Recherche</p>
      </a>
      <a class="menu" href="{{ url_for('routeur.actualite') }}" style="text-decoration:none;color:black;">
        <p>Actualité</p>
      </a>
      <a class="menu" href="{{ url_for('routeur.forum') }}" style="text-decoration:none;color:black;">
        <p>Forum</p>
      </a>
      <a class="menu" href="{{ url_for('routeur.a_propos') }}" style="text-decoration:none;color:black;">
        <p>A propos</p>
      </a>
      <a class="menu" href="{{ url_for('routeur.contact') }}" style="text-decoration:none;color:black;">
        <p>Contact</p>
      </a>
    </div>

    <div id="corps">

      <div id="wowslider-container">
      	<div class="ws_images">
          <ul>
      	     <li><img src="{{ url_for('static', filename='images/sport1.jpg') }}" alt="" style="width:580px;height:400px;" id="wows_0" /></li>
             <li><img src="{{ url_for('static', filename='images/sport2.jpg') }}" alt="" style="width:580px;height:400px;" id="wows_1" /></li>
             <li><img src="{{ url_for('static', filename='images/sport3.jpg') }}" alt="" style="width:580px;height:400px;" id="wows_2" /></li>
      	 </ul>
        </div>
        <div class="ws_bullets">
          <div>
        <a href="#" title=""><img src="{{ url_for('static', filename='images/sport1.jpg') }}" style="width:250px;height:100px;" alt=""/>1</a>
        <a href="#" title=""><img src="{{ url_for('static', filename='images/sport2.jpg') }}" style="width:250px;height:100px;" alt=""/>2</a>
        <a href="#" title=""><img src="{{ url_for('static', filename='images/sport3.jpg') }}" style="width:250px;height:100px;" alt=""/>3</a>
          </div>
        </div>
        <a href="#" class="ws_frame"></a>
      </div>

        <div id="phraseAccroche">
          <p>Trouvez l’<strong>équipement sportif</strong> le plus proche de chez <strong>vous !</strong></p>
        </div>

    </div>

    <div id="recherche">
      <div id="logosPartenaires">
        <img src="{{ url_for('static', filename='images/banniereSponsors.png') }}" style="width:500px;height:100px;" />
      </div>
      <a id="bouton" href="{{ url_for('routeur.recherche') }}" style="text-decoration:none">
        <p> Recherchez maintenant ! </p>
      </a>
    </div>

    <div id="footer">
        <div id="mention">
          <a href="{{ url_for('routeur.mentions_legales') }}">Mentions légales</a>
        </div>

        <div id="identite">
          <p>Le CROS des Pays de la Loire est déclaré organisme d'intérêt général à caractère sportif depuis le 10 décembre 2009</p>
          <p>Copyright CROS des Pays de la Loire - Olympiade 2013-2017</p>
          <p>Courriel : paysdelaloire@franceolympique.com - Tel : 02 40 58 60 75</p>
          <p>N° RNA W442005273 / N° SIRET : 323 912 519 000 44 / Code APE : 9312Z (N°INSEE = N°SIREN)</p>
          <p>Organisme de formation enregistré sous le numéro 52 44 00591 44. Cet enregistrement ne vaut pas agrément de l'Etat.</p>
        </div>

        <div id="logoRS">
          <img src="{{ url_for('static', filename='images/logoSociaux.png') }}" style="width:75px;height:75px;" />
        </div>
    </div>
  </body>

</html>
