<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename='css/Recherche.css') }}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/jquery.loading.css') }}" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Recherche.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Carte.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.loading.js') }}"> </script>
    <title> Recherche </title>
  </head>

  <body onload="init()">

    <div id="header">
      <div id="devise">
        <p>Loisir</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Convivial</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Divertissement</p>
      </div>

        <div id="logoSite">
          <img id="banniere" src="{{ url_for('static', filename='images/banniereSports.png') }}" alt="banniere" />
        </div>

        <div id="logoPrestataire">
          <a href="{{ url_for('routeur.accueil') }}"><img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" /></a>
        </div>
    </div>

    <div id="navigation">
      <a class="menu" href="{{ url_for('routeur.accueil') }}" style="text-decoration:none;color:black;">
        <p>Accueil</p>
      </a>
      <a class="menu" href="{{ url_for('routeur.recherche') }}" style="text-decoration:none;color:black;">
        <p>Recherche</p>
      </a>
      <a class="menu" href="{{ url_for('routeur.actualite') }}" style="text-decoration:none;color:black;">
        <p>Actualité</p>
      </a>
      <a class="menu" href="{{ url_for('routeur.forum') }}" style="text-decoration:none;color:black;">
        <p>Forum</p>
      </a>
      <a class="menu" href="{{ url_for('routeur.a_propos') }}" style="text-decoration:none;color:black;">
        <p>A propos</p>
      </a>
      <a class="menu" href="{{ url_for('routeur.contact') }}" style="text-decoration:none;color:black;">
        <p>Contact</p>
      </a>
    </div>

    <div id="corps">

      <div id="custom-overlay">
        <div class="loading-spinner">
          Loading (custom)...
        </div>
      </div>

        <div id="carte">
        </div>

    </div>

    <div id="footer">
        <div id="mention">
          <a href="{{ url_for('routeur.mentions_legales') }}">Mentions légales</a>
        </div>

        <div id="identite">
          <p>Le CROS des Pays de la Loire est déclaré organisme d'intérêt général à caractère sportif depuis le 10 décembre 2009</p>
          <p>Copyright CROS des Pays de la Loire - Olympiade 2013-2017</p>
          <p>Courriel : paysdelaloire@franceolympique.com - Tel : 02 40 58 60 75</p>
          <p>N° RNA W442005273 / N° SIRET : 323 912 519 000 44 / Code APE : 9312Z (N°INSEE = N°SIREN)</p>
          <p>Organisme de formation enregistré sous le numéro 52 44 00591 44. Cet enregistrement ne vaut pas agrément de l'Etat.</p>
        </div>

        <div id="logoRS">
          <img src="{{ url_for('static', filename='images/logoSociaux.png') }}" style="width:75px;height:75px;" />
        </div>
    </div>

  </body>

</html>
