<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="{{ url_for('static', filename='css/Recherche.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/Diaporama.css') }}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.common.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.default.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.516/styles/kendo.material.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://kendo.cdn.telerik.com/2018.2.516/js/kendo.all.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Diaporama.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Recherche.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Formulaire.js') }}"> </script>
    <title> Recherche </title>
  </head>

  <body onload="init()">

    <div id="header">
      <div id="devise">
        <p>Loisir</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Convivial</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Divertissement</p>
      </div>

        <div id="logoSite">
          <img id="banniere" src="{{ url_for('static', filename='images/banniereSports.png') }}" alt="banniere" />
        </div>

        <div id="logoPrestataire">
          <a href="{{ url_for('routeur.accueil') }}"><img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" /></a>
        </div>
    </div>

    <div id="navigation">
      <a class="menu" href="{{ url_for('routeur.accueil') }}" style="text-decoration:none;color:black;">
        <p>Accueil</p>
      </a>
      <a class="menu" href="{{ url_for('routeur.recherche') }}" style="text-decoration:none;color:black;">
        <p>Recherche</p>
      </a>
      <a class="menu" href="{{ url_for('routeur.actualite') }}" style="text-decoration:none;color:black;">
        <p>Actualité</p>
      </a>
      <a class="menu" href="{{ url_for('routeur.forum') }}" style="text-decoration:none;color:black;">
        <p>Forum</p>
      </a>
      <a class="menu" href="{{ url_for('routeur.a_propos') }}" style="text-decoration:none;color:black;">
        <p>A propos</p>
      </a>
      <a class="menu" href="{{ url_for('routeur.contact') }}" style="text-decoration:none;color:black;">
        <p>Contact</p>
      </a>
    </div>

    <div id="corps">

        <div id="requete">
          <form id="formulaire" action="{{ url_for('routeur.resultat') }}" method="POST">

            <img style="height:30px;width:30px;" src="{{ url_for('static', filename='images/icones/formulaire/Localisation.png') }}" alt="logo" />
            <h4 style="display: inline-block;"><label for="code_postaux">Code Postale*</label></h4>
            <span class="k-widget k-combobox k-header k-combobox-clearable" style="width: 100%;">
              <span tabindex="-1" unselectable="on" class="k-dropdown-wrap k-state-default">
                <input name="cp" class="k-input" type="text" autocomplete="off" title="" role="combobox" aria-expanded="false" style="" placeholder="Choisir un code postale" tabindex="0" aria-disabled="false" aria-autocomplete="list" aria-owns="size_listbox" aria-labelledby="size_label" aria-busy="false">
                <span unselectable="on" class="k-icon k-clear-value k-i-close k-hidden" title="clear" role="button" tabindex="-1"></span>
                <span unselectable="on" class="k-select" aria-label="select" role="button" tabindex="-1" aria-controls="size_listbox">
                  <span class="k-icon k-i-arrow-60-down"></span>
                </span>
              </span>
              <select id="code_postaux" placeholder="Choisir un code postale" style="width: 100%; display: none;" data-role="combobox" aria-disabled="false">
              </select>
            </span>

            <br/> <br/>

            <img style="height:30px;width:30px;" src="{{ url_for('static', filename='images/icones/formulaire/Sport.png') }}" alt="logo" />
            <h4 style="display: inline-block;"><label for="activites">Activité*</label></h4>
            <span class="k-widget k-combobox k-header k-combobox-clearable" style="width: 100%;">
              <span tabindex="-1" unselectable="on" class="k-dropdown-wrap k-state-default">
                <input disabled="disabled" id="act" name="act" class="k-input" type="text" autocomplete="off" title="" role="combobox" aria-expanded="false" style="" placeholder="Choisir une activité" tabindex="0" aria-disabled="false" aria-autocomplete="list" aria-owns="size_listbox" aria-labelledby="size_label" aria-busy="false">
                <span unselectable="on" class="k-icon k-clear-value k-i-close k-hidden" title="clear" role="button" tabindex="-1"></span>
                <span unselectable="on" class="k-select" aria-label="select" role="button" tabindex="-1" aria-controls="size_listbox">
                  <span class="k-icon k-i-arrow-60-down"></span>
                </span>
              </span>
              <select id="activites" placeholder="Choisir une activité" style="width: 100%; display: none;" data-role="combobox" aria-disabled="false">
              </select>
            </span>

            <br/> <br/>

            <img style="height:30px;width:30px;" src="{{ url_for('static', filename='images/icones/formulaire/Handicap.png') }}" alt="logo" />
            <h4 style="display: inline-block;"><label for="handicap">Accessibilité mobilité réduite :</label></h4> <br/>
            <input type="radio" name="handicap" value="false" checked> <p> Non </p>
            <input type="radio" name="handicap" value="true"> <p> Oui </p>

            <br/> <br/>

            <img style="height:30px;width:30px;" src="{{ url_for('static', filename='images/icones/formulaire/Transport.png') }}" alt="logo" />
            <h4 style="display: inline-block;"><label for="transport">Proximité transport en commun :</label></h4> <br/>
            <input type="radio" name="transport" value="false" checked> <p> Non </p>
            <input type="radio" name="transport" value="true"> <p> Oui </p>

            <br/> <br/>

            <img style="height:30px;width:30px;" src="{{ url_for('static', filename='images/icones/formulaire/Restaurant.png') }}" alt="logo" />
            <h4 style="display: inline-block;"><label for="restaurant">Restauration sur place :</label></h4> <br/>
            <input type="radio" name="restaurant" value="false" checked> <p> Non </p>
            <input type="radio" name="restaurant" value="true"> <p> Oui </p>

            <br/> <br/> <br/>

            <input id="bouton" type="submit" value="Rechercher" />
          </form>
        </div>

        <div id="description">

        <div id="image">
          <div id="wowslider-container">
            <div class="ws_images">
              <ul>
          	     <li><img src="http://127.0.0.1:5000/image/rechercheImagesDiapo?sport=sport1" alt="" style="width:580px;height:400px;" id="wows_0" /></li>
                 <li><img src="http://127.0.0.1:5000/image/rechercheImagesDiapo?sport=sport2" alt="" style="width:580px;height:400px;" id="wows_1" /></li>
                 <li><img src="http://127.0.0.1:5000/image/rechercheImagesDiapo?sport=sport3" alt="" style="width:580px;height:400px;" id="wows_2" /></li>
                 <li><img src="http://127.0.0.1:5000/image/rechercheImagesDiapo?sport=sport4" alt="" style="width:580px;height:400px;" id="wows_3" /></li>
                 <li><img src="http://127.0.0.1:5000/image/rechercheImagesDiapo?sport=sport5" alt="" style="width:580px;height:400px;" id="wows_4" /></li>
          	 </ul>
            </div>
            <div class="ws_bullets">
              <div>
            <a href="#" title=""><img src="http://127.0.0.1:5000/image/rechercheImagesDiapo?sport=sport1" style="width:250px;height:100px;" alt=""/>1</a>
            <a href="#" title=""><img src="http://127.0.0.1:5000/image/rechercheImagesDiapo?sport=sport2" style="width:250px;height:100px;" alt=""/>2</a>
            <a href="#" title=""><img src="http://127.0.0.1:5000/image/rechercheImagesDiapo?sport=sport3" style="width:250px;height:100px;" alt=""/>3</a>
            <a href="#" title=""><img src="http://127.0.0.1:5000/image/rechercheImagesDiapo?sport=sport4" style="width:250px;height:100px;" alt=""/>4</a>
            <a href="#" title=""><img src="http://127.0.0.1:5000/image/rechercheImagesDiapo?sport=sport5" style="width:250px;height:100px;" alt=""/>5</a>
              </div>
            </div>
            <a href="#" class="ws_frame"></a>
          </div>
       </div>

        <div id="commentaire">
          <div id="phraseAccroche">
            <p>Trouvez l’<strong>équipement sportif</strong> le plus proche de chez <strong>vous !</strong></p>
          </div>
        </div>

      </div>

    </div>

    <div id="footer">
        <div id="mention">
          <a href="{{ url_for('routeur.mentions_legales') }}">Mentions légales</a>
        </div>

        <div id="identite">
          <p>Le CROS des Pays de la Loire est déclaré organisme d'intérêt général à caractère sportif depuis le 10 décembre 2009</p>
          <p>Copyright CROS des Pays de la Loire - Olympiade 2013-2017</p>
          <p>Courriel : paysdelaloire@franceolympique.com - Tel : 02 40 58 60 75</p>
          <p>N° RNA W442005273 / N° SIRET : 323 912 519 000 44 / Code APE : 9312Z (N°INSEE = N°SIREN)</p>
          <p>Organisme de formation enregistré sous le numéro 52 44 00591 44. Cet enregistrement ne vaut pas agrément de l'Etat.</p>
        </div>

        <div id="logoRS">
          <img src="{{ url_for('static', filename='images/logoSociaux.png') }}" style="width:75px;height:75px;" />
        </div>
    </div>

  </body>

</html>
