body
{
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  justify-content: center;
}

p, h4
{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #03112E;
}

form label,
form p
{
  line-height:0.1px;
}

#header
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#devise
{
  margin:auto;
  font-weight: bold;
}

#devise p
{
  font-size: 20px;
}

#logoSite
{
  margin: auto;
}

#banniere
{
  width:450px;
  height:150px;
}

#logoPrestataire
{
  margin: auto;
}

#logo
{
  width:200px;
  height:150px;
}

#navigation
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 40px;
}

.menu
{
  background-color: #04A7FF;
  width: 100%;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

#corps
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.erreur
{
  display: none;
  position: absolute;
  font-style: italic;
  color: red;
  font-size: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 0px;
}

#requete
{
  width:30%;
  margin: auto;
}

#formulaire
{
  margin: auto;
}

#formulaire p
{
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

#description
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: auto;
}

#commentaire
{
  width: 580px;
  margin:auto;
  padding-top: 20px;
  text-align: justify;
}

#phraseAccroche p
{
  width: 500px;
  margin: auto;
  text-align: center;
  font-size: 40px;
}

#phraseAccroche p strong
{
  color: #04A7FF;
}

#bouton
{
  background-color: #04A7FF;
  font-size: 15px;
  color: white;
  text-align: center;
  font-weight: bold;
  width: 200px;
  height: 70px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

#carte
{
  margin: auto;
  width:800px;
  height:500px;
}

#footer
{
  margin-top: 20px;
  background-color: white;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#mention
{
  margin: auto;
}

#mention a
{
  margin: auto;
  font-size: 10px;
  color: grey;
}

#identite
{
  margin: auto;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  padding-right: 100px;
  padding-left: 100px;
}

#identite p
{
  color: grey;
  font-size: 10px;
  text-align: center;
  line-height:5px;
}

#logoRS
{
  margin: auto;
}
